.page-container {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -142px;
}

.footer,
.push {
    height: 142px; /* .push must be the same height as .footer */
}
